.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards-card-title {
  padding: 16px;
  font-weight: 700;
} 

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.flip-cards ul {

  li {
    cursor: pointer;
    background-color: transparent;
    height: auto;
    min-height: 280px;
    perspective: 1000px;
      transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    img {
      aspect-ratio: 4/ 4;
    }

    .cards-card-body, .cards-card-image, .cards-card-title {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .cards-card-body {
      transform: rotateY(180deg);
      right:0;
      width: 90%;
    }

    .cards-card-title {
      display: inline;
      height: auto;
      background-color: #ffffff;
      padding: 10px;
      font-weight: 700;
    } 

    .cards-card-title:empty {
      display: none;
    }
  }

  li.flip {
    transform: rotateY(180deg);
 
    .cards-card-body {
      transform: rotateY(180deg);
    }
  }
}